@model IEnumerable<ExamenAxity.Models.ProductosModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        }
    </tbody>
</table>